<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Pessoa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="views/styles/form.css">
    <link rel="stylesheet" href="views/styles/footer.css">
</head>
<body>
    <header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Obter Pessoa Por ID</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">CRUD PHP operações</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" href="?a=listarPessoas">Listar pessoas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="?a=criarPessoa">Criar Pessoa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="?a=atualizarPessoa">Atualizar Pessoa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="?a=excluirPessoa">Excluir Pessoa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Obter Pessoa Por ID</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="m-3">
      <div id="container">
        <form id="form" class="row g-3 justify-content-center">
            <div class="col-12">
                <label for="id" class="form-label">id:</label>
                <input type="number" name="id" id="id" class="form-control" required>
              </div>
          <div class="col-12">
            <input type="submit" value="obter pessoa" class="btn btn-primary mb-3 col-12">
          </div>
        </form>
        <div id="result" class="mt-3">
        </div>
      </div>
</main>
<footer class="py-3 my-4 fixed-bottom">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="https://github.com/Eduardo-Pires" class="nav-link px-2 text-muted">GitHub</a></li>
    <li class="nav-item"><a href="https://github.com/Eduardo-Pires/CRUD-PHP-001" class="nav-link px-2 text-muted">Repositório do Projeto</a></li>
    <li class="nav-item"><a href="https://github.com/Eduardo-Pires/CRUD-PHP-001/blob/main/README.md" class="nav-link px-2 text-muted">Sobre</a></li>
  </ul>
  <p class="text-center text-muted">Feito por Eduardo Pires</p>
</footer>


<script>
    //classe que realiza requisições assincronas ao servidor
    async function obterPorIdAjax(form) {
        try {
            const formData = new URLSearchParams(new FormData(form));
            formData.append('a', 'obterPessoaPorId');

            const response = await fetch("?" + formData.toString(), {
                method: "GET",
                headers: {
                    "Content-Type": "application/json"
                },
            });

            if (!response.ok) {
                throw new Error("Request failed with status: " + response.status);
            }

            const data = await response.json();
            if (data.status === 'success'){
                let result = document.getElementById("result");
                result.innerHTML = "";
                result.appendChild(criarTabela(data));
            }
            else
            {
                throw new Error(data.message);
            }

        } catch (error) {
            let result = document.getElementById("result");
            result.textContent = error.message;
            result.style.color = "#a10833";
        }
    }

    //cria tabelas dinamicamente na pagina, conforme o usuario pesquisar IDs
    function criarTabela(data) {
            const table = document.createElement("table");
            table.classList.add("table");

            const thead = document.createElement("thead");
            const trHead = document.createElement("tr");
            const keys = Object.keys(data);
            keys.forEach(key => {
                if (key !== "status") {
                    const th = document.createElement("th");
                    th.textContent = key;
                    trHead.appendChild(th);
                }
            });
            thead.appendChild(trHead);
            table.appendChild(thead);

            const tbody = document.createElement("tbody");
            const trBody = document.createElement("tr");
            keys.forEach(key => {
                if (key !== "status") {
                    const td = document.createElement("td");
                    td.textContent = data[key];
                    trBody.appendChild(td);
                }
            });
            tbody.appendChild(trBody);
            table.appendChild(tbody);

            return table;
        }


    window.onload = function(){
        let formulario = document.getElementById("form");

        formulario.addEventListener("submit", function(event) {
            event.preventDefault();
            obterPorIdAjax(formulario);
        });
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
